@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300;
  }
}